@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.root {
    -fx-background-color: red;
}
.button {
    -fx-background-color: transparent;
    -fx-font-family: "Bebas Neue", cursive;
    -fx-font-size: 24px;
    -fx-text-fill: #FFFFFF;
}
.button:hover{
    -fx-border-color: #FFFFFF;
    -fx-border-width: 0px 0px 2px 0px;
}
.label {
    -fx-font-family: "Bebas Neue", cursive;
    -fx-font-size: 24px;
    -fx-text-fill: #FFFFFF;
}
.title{
    -fx-background-color: transparent;
    -fx-font-family: "Bebas Neue", cursive;
    -fx-font-size: 48px;
    -fx-text-fill: #FFFFFF;
}